@(displays: Seq[Display], sprints: Seq[Sprint], projects:Seq[Project], form: Form[Display])
@import models.utils.Breadcrumb

@main("Displays",
    Breadcrumb("Home", routes.Application.index, false) ::
    Breadcrumb("Displays", routes.Displays.index, true) :: Nil) {
<ul id="display-list">
    @list(displays)
</ul>

@helper.form(action = routes.Displays.create, 'id -> "display-form") {
<fieldset>
    <legend>Display</legend>
    @helper.inputText(form("name"))
    @helper.select(form("sprintId"), sprints.map(sprint => sprint.id.get.toString -> "Sprint %d: %s".format(sprint.num, sprint.title)))
    @helper.select(form("projectId"), projects.map(project => project.id.get.toString -> "Project %s".format(project.name)))
    @helper.inputText(form("backgroundColor"))
    @helper.inputText(form("refreshTime"))
</fieldset>
<div class="actions">
    <input type="submit" class="btn primary" value="Create">
</div>
}

}

