@(displays: Seq[Display], projects:Seq[Project], teams:Seq[Team], form: Form[Display])
@import models.utils.Breadcrumb

@main("Displays",
    Breadcrumb("Home", routes.Application.index, false) ::
    Breadcrumb("Displays", routes.Displays.index, true) :: Nil) {
<ul id="display-list">
    @list(displays)
</ul>

@helper.form(action = routes.Displays.create, 'id -> "display-form") {
<fieldset>
    <legend>Display</legend>
    @helper.inputText(form("name"))
    @helper.select(form("projectId"), projects.map(project => project.id.get.toString -> "Project %s".format(project.name)))
    @helper.select(form("teamId"), teams.map(team => team.id.get.toString -> "Team: %s".format(team.name)))
    @helper.inputText(form("backgroundColor"))
    @helper.inputText(form("refreshTime"))
    @helper.checkbox(form("useLongPolling"))
    @helper.checkbox(form("relativeLayout"))
    @helper.textarea(form("animationConfig"))
</fieldset>
<div class="actions">
    <input type="submit" class="btn primary" value="Create">
</div>
}

}

