@(display: Display, displayItems:Seq[DisplayItem])

@main(display.name) {
    <div style="position: absolute; width: 100%; height: 100%">
        @displayItems.map { displayItem =>
            <div style="position:absolute; overflow: hidden; left: @{displayItem.posx}px;top: @{displayItem.posy}px;width: @{displayItem.width}px;height: @{displayItem.height}px">
                @{displayItem.widget match {
                    case DisplayWidgets.BurndownChart => widgets.burndownChart(display, displayItem)
                }}
            </div>
        }
    </div>
}

