@(display: Display, sprints: Seq[Sprint], projects:Seq[Project], form: Form[Display], displayItems:Seq[DisplayItem], displayItemForm:Form[DisplayItem])
@import models.utils.Breadcrumb

@main("Config: " + display.name,
    Breadcrumb("Home", routes.Application.index, false) ::
    Breadcrumb("Displays", routes.Displays.index, false) ::
    Breadcrumb(display.name, routes.Displays.showConfig(display.id.get), true) :: Nil) {

@helper.form(action = routes.Displays.update(display.id.get), 'id -> "display-form") {
<fieldset>
    <legend>Display</legend>
    @helper.inputText(form("name"))
    @helper.select(form("sprintId"), sprints.map(sprint => sprint.id.get.toString -> "Sprint %d: %s".format(sprint.num, sprint.title)))
    @helper.select(form("projectId"), projects.map(project => project.id.get.toString -> "Project %s".format(project.name)))
    @helper.inputText(form("backgroundColor"))
    @helper.inputText(form("refreshTime"))
    @helper.checkbox(form("useLongPolling"))
    @helper.checkbox(form("relativeLayout"))
    @helper.textarea(form("animationConfig"))
</fieldset>
<div class="actions">
    <input type="submit" class="btn primary" value="Update">
</div>
}


<ul id="displayItem-list">
    @views.html.displayItem.list(display, displayItems)
</ul>

@helper.form(action = routes.DisplayItems.create(display.id.get), 'id -> "displayItem-form") {
<fieldset>
    <legend>Display item</legend>
    @helper.select(displayItemForm("widget"), DisplayWidgets.values.toSeq.map(widget => widget.id.toString -> widget.toString ))
    @helper.inputText(displayItemForm("posx"))
    @helper.inputText(displayItemForm("posy"))
    @helper.inputText(displayItemForm("width"))
    @helper.inputText(displayItemForm("height"))
    @helper.select(displayItemForm("style"), DisplayStyles.values.toSeq.map(style => style.id.toString -> style.toString ))
</fieldset>
<div class="actions">
    <input type="submit" class="btn primary" value="Create">
</div>
}

}

