@(display:Display, displayItem:DisplayItem, projects:Seq[Project], displayItemForm:Form[DisplayItem])
@import models.utils.Breadcrumb

@main(displayItem.widget.toString,
    Breadcrumb("Home", routes.Application.index, false) ::
    Breadcrumb("Displays", routes.Displays.index, false) ::
    Breadcrumb(display.name, routes.Displays.showConfig(display.id.get), false) ::
    Breadcrumb(displayItem.widget.toString, routes.DisplayItems.edit(display.id.get, displayItem.id.get), true) :: Nil) {

@helper.form(action = routes.DisplayItems.update(displayItem.displayId, displayItem.id.get), 'id -> "displayItem-form") {
<fieldset>
    <legend>Display item</legend>
    @helper.inputText(displayItemForm("posx"))
    @helper.inputText(displayItemForm("posy"))
    @helper.inputText(displayItemForm("width"))
    @helper.inputText(displayItemForm("height"))
    @helper.select(displayItemForm("style"), DisplayStyles.values.toSeq.map(style => style.id.toString -> style.toString ))
    @helper.select(displayItemForm("projectId"),
        ("" -> "<Use display setting>") +:
        projects.map(project => project.id.get.toString -> "Project %s".format(project.name)))
    @helper.checkbox(displayItemForm("appearsInFeed"))
</fieldset>
<input type="hidden" name="@displayItemForm("widget").name" value="@displayItemForm("widget").value">
@{displayItem.widget match {
    case DisplayWidgets.Burndown => widgets.burndownConfig(displayItemForm("burndownConfig"))
    case DisplayWidgets.SprintTitle => widgets.sprintTitleConfig(displayItemForm("sprintTitleConfig"))
    case DisplayWidgets.Clock => widgets.clockConfig(displayItemForm("clockConfig"))
    case DisplayWidgets.Alarms => widgets.alarmsConfig(displayItemForm("alarmsConfig"))
    case DisplayWidgets.IFrame => widgets.iframeConfig(displayItemForm("iframeConfig"))
    case DisplayWidgets.BuildStatus => widgets.buildStatusConfig(displayItemForm("buildStatusConfig"))
    case DisplayWidgets.HostStatus => widgets.hostStatusConfig(displayItemForm("hostStatusConfig"))
    case DisplayWidgets.Metrics => widgets.metricsConfig(displayItemForm("metricsConfig"))
}}
<div class="actions">
    <input type="submit" class="btn primary" value="Update">
</div>
}

}