@(display: Display, displayItem:DisplayItem, renderedWidget:models.utils.RenderedWidget)
<!DOCTYPE html>

<html>
<head>
    <title>@display.name</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/display.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>
<body class="@display.style.toString.toLowerCase">
    <div id="@renderedWidget.id" etag="@renderedWidget.etag" class="widget" style="width: @{renderedWidget.width}px;height: @{renderedWidget.height}px">
        @renderedWidget.content
    </div>
</body>
</html>