@(statusValues:Seq[StatusValue])

<table>
    <thead>
        <tr>
            <th>Status</th>
            <th>Retrieved at</th>
            <th>Build number</th>
            <th>Running</th>
        </tr>
    </thead>
    <tbody>
        @statusValues.map { statusValue =>
            <tr>
                <td>@statusValue.status</td>
                <td>@views.utils.dateFormat(statusValue.retrievedAt)</td>
                <td>@statusValue.buildStatus.map(_.number.toString).getOrElse("--")</td>
                <td>@statusValue.buildStatus.map(_.running.toString).getOrElse("--")</td>
            </tr>
        }
    </tbody>
</table>