.wall-black {
  background: #000000;
}

.wall-black div.wall-inner {
  background: #303040;
  color: #ffffff;

  ul.wall-alarms {
    li {
      background: #111122;
    }
    li.wall-alert {
      background: #880000;
    }
  }

  div.wall-buildStatus {
    div.wall-cell {
      div {
        background: #111122;
      }
      div.wall-Ok {
        background: #008800;
      }
      div.wall-Failure {
        background: #880000;
      }
    }
  }

  ul.wall-hostStatus {
    li {
      table.wall-group {
        background: #111122;
      }
      td.wall-Up-Ok {
        background: #008800;
      }
      td.wall-Up-Warning {
        background: #888800;
      }
      td.wall-Down-Ok, td.wall-Down-Warning, td.wall-Down-Critical, td.wall-Up-Critical {
        background: #880000;
      }
    }
  }
}
