.wall-normal {
  background: #000000;
}

.wall-normal div.wall-inner {
  background: #a9a9a9;
  .gradient(#FFF, #AAA);

  ul.wall-alarms {
    li {
      background: #ffffff;
    }
    li.wall-alert {
      background: #ff4444;
    }
  }

  ul.wall-buildStatus {
    li {
      background: #ffffff;
    }
    li.wall-Ok {
      background: #44ff44;
    }
    li.wall-Failure {
      background: #ff4444;
    }
  }

  ul.wall-hostStatus {
    li {
      table.gwall-roup {
        background: #a9a9a9;
      }
      td.wall-Up-Ok {
        background: #44ff44;
      }
      td.wall-Up-Warning {
        background: #ffff44;
      }
      td.wall-Down-Ok, td.wall-Down-Warning, td.wall-Down-Critical, td.wall-Up-Critical {
        background: #ff4444;
      }
    }
  }
}
