@(statusMonitor:StatusMonitor, projects:Seq[Project], form:Form[StatusMonitor])
@import models.utils.Breadcrumb

@main(statusMonitor.name,
    Breadcrumb("Home", routes.Application.index, false) ::
    Breadcrumb("Status monitors", routes.StatusMonitors.index, false) ::
    Breadcrumb(statusMonitor.name, routes.StatusMonitors.edit(statusMonitor.id.get), true) :: Nil) {

@helper.form(action = routes.StatusMonitors.update(statusMonitor.id.get), 'id -> "statusMonitor-form") {
@_fieldSet(projects, form)
<div class="actions">
    <input type="submit" class="btn primary" value="Update">
</div>
}

}