<div class="tabbable tabs-left" ng-controller="Projects">
    <ul class="nav nav-tabs">
        <li ng-repeat="project in projects" ng-class="{active: project == selectedProject}">
            <a ng-click="select(project)">{{ project.name }}</a>
        </li>
        <li>
            <a ng-click="newProject()"><span class="glyphicon glyphicon-plus-sign"></span> New Project</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane jumbotron" ng-class="{active: selectedProject == null}">
            <h1>Projects</h1>

            <p>
                Projects are just what you would assume them to be: Some sort of project you and your teammates are
                currently working on.
            </p>
            <p>
                In WallDee projects serve as container for all project-specific information you might want to see on
                your wall display. Like:
            </p>
            <ul>
                <li>Current build status of your CI (Teamcity or Jenkins atm)</li>
                <lI>Status of your staging systems (Nagios)</lI>
                <li>...</li>
            </ul>
        </div>
        <div class="tab-pane" ng-class="{active: selectedProject != null}">
            <h1>Project: <span in-place-edit="selectedProject.name" in-place-change="changeProjectName"></span></h1>
        {{ selectedProject }}
        </div>
    </div>
</div>