<div class="tabbable tabs-left" ng-controller="StatusMonitor">
    <ol class="breadcrumb">
        <li><a href="#/projects">Projects</a></li>
        <li><a href="#/projects?projectId={{ project.id }}&statusMonitorType={{ statusMonitor.type }}">{{ project.name }}</a></li>
        <li class="active" ng-if="statusMonitor.id != null">{{ statusMonitor.type}}: {{ statusMonitor.name}}</li>
        <li class="active" ng-if="statusMonitor.id == null">New {{ statusMonitor.type}} status</li>
    </ol>

    <ul class="nav nav-tabs">
        <li ng-class="{active: view == 'config'}"><a ng-click="setView('config')">Configuration</a></li>
        <li ng-class="{active: view == 'history'}" ng-if="statusMonitor.id != null"><a ng-click="setView('history')">History</a></li>
        <li ng-class="{active: view == 'test'}" ng-if="statusMonitor.id != null"><a ng-click="setView('test')">Test</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" ng-controller="StatusMonitorConfig" ng-if="view == 'config'">
            <form class="form-horizontal" role="form" ng-submit="saveStatusMonitor()">
                <div class="form-group">
                    <label for="statucMonitor-name" class="col-sm-1 control-label">Name:</label>
                    <div class="col-sm-11">
                        <input type="text" id="statucMonitor-name" class="form-control" ng-model="statusMonitor.name" ng-change="statusMonitorChanged = true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="statucMonitor-url" class="col-sm-1 control-label">Url:</label>
                    <div class="col-sm-11">
                        <input type="text" id="statucMonitor-url" class="form-control" ng-model="statusMonitor.url" ng-change="statusMonitorChanged = true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="statusMonitor-username" class="col-sm-1 control-label">Username:</label>
                    <div class="col-sm-5">
                        <input type="text" id="statusMonitor-username" class="form-control" ng-model="statusMonitor.username" ng-change="statusMonitorChanged = true">
                    </div>
                    <label for="statusMonitor-password" class="col-sm-1 control-label">Password:</label>
                    <div class="col-sm-5">
                        <input type="text" id="statusMonitor-password" class="form-control" ng-model="statusMonitor.password" ng-change="statusMonitorChanged = true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="statusMonitor-active" class="col-sm-1 control-label">Active</label>
                    <div class="col-sm-1">
                        <input type="checkbox" id="statusMonitor-active" class="form-control" ng-model="statusMonitor.active" ng-change="statusMonitorChanged = true">
                    </div>
                    <label for="statusMonitor-updatePeriod" class="col-sm-2 control-label">Update period (seconds)</label>
                    <div class="col-sm-3">
                        <input type="text" id="statusMonitor-updatePeriod" class="form-control" ng-model="statusMonitor.updatePeriod" ng-change="statusMonitorChanged = true">
                    </div>
                    <label for="statusMonitor-keepHistory" class="col-sm-2 control-label">Keep history</label>
                    <div class="col-sm-3">
                        <input type="text" id="statusMonitor-keepHistory" class="form-control" ng-model="statusMonitor.keepHistory" ng-change="statusMonitorChanged = true">
                    </div>
                </div>
                <div class="pull-right">
                    <a href="#/projects?projectId={{ project.id }}&statusMonitorType={{ statusMonitor.type }}" class="btn btn-default">Close</a>
                    <button type="submit" class="btn btn-primary" ng-disabled="!statusMonitorChanged">Save changes</button>
                </div>
            </form>
        </div>
        <div class="tab-pane active" ng-controller="StatusMonitorHistory" ng-if="view == 'history'">
            <button class="btn btn-primary" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
            <table class="table table-striped table-hover">
                <tr>
                    <th>Status</th>
                    <th>Retrieved at</th>
                </tr>
                <tr ng-repeat="statusValue in statusValues">
                    <td>{{ statusValue.status }}</td>
                    <td>{{ statusValue.retrievedAt | date:'medium' }}</td>
                </tr>
            </table>
        </div>
        <div class="tab-pane active" ng-controller="StatusMonitorTest" ng-if="view == 'test'">
            <button class="btn btn-primary" ng-click="performTest()"><span class="glyphicon glyphicon-play"></span> Perform test</button>

        </div>
    </div>
</div>
