@(sprint:Sprint, dayCounts:Seq[DayCount])

<table>
    <thead>
    <tr>
        <th>Day</th>
        <td>Number</td>
        @sprint.counters.map { counter =>
        <th>@counter.name</th>
        }
    </tr>
    </thead>
    <tbody>
    @defining(sprint.dayLabels) { dayLabels =>
        @Range.inclusive(0, sprint.numberOfDays).map { dayNum =>
            @if( dayNum < dayCounts.length) {
                @defining(dayCounts(dayNum)) { dayCount =>
                    <tr class="dayCount-value" id="dayCount-value-@dayCount.id.get">
                        <td>@dayLabels(dayNum)</td>
                        <td>@dayCount.dayNum</td>
                        @dayCount.counterValues.map { counterValue =>
                        <td>@counterValue.value</td>
                        }
                        <td>
                            <a href="#" dayCountId="@dayCount.id.get" class="edit dayCount-update">Update</a>
                            @common.deleteLink(routes.DayCounts.delete(sprint.id.get, dayCount.id.get), "dayCount-list")
                        </td>
                    </tr>
                    <tr class="dayCount-update" id="dayCount-update-@dayCount.id.get">
                        <td><input type="text" name="dayNum" value="@dayCount.dayNum"></td>
                        @dayCount.counterValues.zipWithIndex.map { case (counterValue, index) =>
                        <td>
                            <input type="text" name="counterValues[@index].value" value="@counterValue.value">
                            <input type="hidden" name="counterValues[@index].name" value="@counterValue.name">
                        </td>
                        }
                        <td><button type="button" ref="@routes.DayCounts.update(sprint.id.get, dayCount.id.get)">Update</button></td>
                    </tr>
                }
            } else {
                <tr class="dayCount-create">
                    <td>@dayLabels(dayNum)</td>
                    @helper.form(action = routes.DayCounts.create(sprint.id.get), 'id -> "dayCount-form") {
                    <td><input type="text" name="dayNum" value="@dayNum"></td>
                    @sprint.counters.zipWithIndex.map { case (counter, index) =>
                    <td>
                        <input type="text" name="counterValues[@index].value">
                        <input type="hidden" name="counterValues[@index].name" value="@counter.name">
                    </td>
                    }
                    <td><button type="button" ref="@routes.DayCounts.create(sprint.id.get)">Add</button></td>
                    }
                </tr>
                }
        }
    }
    </tbody>
</table>

<script type="text/javascript">
    $("a.dayCount-update").click(function() {
        var dayCountId = $(this).attr("dayCountId")
        $("#dayCount-value-" + dayCountId).hide()
        $("#dayCount-update-" + dayCountId).show()
    })
    $("tr.dayCount-create button").click(function() {
        var ref = $(this).attr("ref");
        var data =$(this).parent().parent().find("*").serialize();

        $.ajax({
            url: ref,
            data: data,
            type: "POST",
            success: function(result) {
                $("#dayCount-list").html(result);
            },
            error: function(request, error, exception) {
                alert(exception)
            }
        });
    });
    $("tr.dayCount-update button").click(function() {
        var ref = $(this).attr("ref");
        var data =$(this).parent().parent().find("*").serialize();

        $.ajax({
            url: ref,
            data: data,
            type: "PUT",
            success: function(result) {
                $("#dayCount-list").html(result);
            },
            error: function(request, error, exception) {
                alert(exception)
            }
        });
    });
</script>
