@(sprint:Sprint, dayCounts:Seq[DayCount])

<table>
    <thead>
    <tr>
        <th>Day</th>
        <td>Number</td>
        @sprint.counters.map { counter =>
        <th>@counter.name</th>
        }
    </tr>
    </thead>
    <tbody>
    @defining(sprint.dayLabels) { dayLabels =>
        @Range.inclusive(0, sprint.numberOfDays).map { dayNum =>
            @if( dayNum < dayCounts.length) {
                @defining(dayCounts(dayNum)) { dayCount =>
                    <tr class="dayCount-value" id="dayCount-value-@dayCount.id.get">
                        <td>@dayLabels(dayNum)</td>
                        <td>@dayCount.dayNum</td>
                        @dayCount.counterValues.map { counterValue =>
                        <td>@counterValue.value</td>
                        }
                        <td>
                            <a ref="#dayCount-value-@dayCount.id.get" editRef="#dayCount-update-@dayCount.id.get" class="edit edit-switch">Update</a>
                            @common.deleteLink(routes.DayCounts.delete(sprint.id.get, dayCount.id.get), "dayCount-list")
                        </td>
                    </tr>
                    <tr class="update" id="dayCount-update-@dayCount.id.get">
                        <td>@dayLabels(dayNum)</td>
                        <td><input type="text" name="dayNum" value="@dayCount.dayNum"></td>
                        @dayCount.counterValues.zipWithIndex.map { case (counterValue, index) =>
                        <td>
                            <input type="text" name="counterValues[@index].value" value="@counterValue.value">
                            <input type="hidden" name="counterValues[@index].name" value="@counterValue.name">
                        </td>
                        }
                        <td><button class="update" action="@routes.DayCounts.update(sprint.id.get, dayCount.id.get)" dataRef="#dayCount-update-@dayCount.id.get" ref="#dayCount-list">Update</button></td>
                    </tr>
                }
            } else {
                <tr id="dayCount-create">
                    <td>@dayLabels(dayNum)</td>
                    @helper.form(action = routes.DayCounts.create(sprint.id.get), 'id -> "dayCount-form") {
                    <td><input type="text" name="dayNum" value="@dayNum"></td>
                    @sprint.counters.zipWithIndex.map { case (counter, index) =>
                    <td>
                        <input type="text" name="counterValues[@index].value">
                        <input type="hidden" name="counterValues[@index].name" value="@counter.name">
                    </td>
                    }
                    <td><button class="create" action="@routes.DayCounts.create(sprint.id.get)" dataRef="#dayCount-create" ref="#dayCount-list">Add</button></td>
                    }
                </tr>
                }
        }
    }
    </tbody>
</table>
