@(team:Team, sprint: Sprint, form: Form[Sprint], teams: Seq[Team])
@import models.utils.Breadcrumb

@main("Sprint %d: %s".format(sprint.num, sprint.title),
    Breadcrumb("Home", routes.Application.index, false) ::
            Breadcrumb("Teams", routes.Teams.index, false) ::
                    Breadcrumb(team.name, routes.Teams.show(team.id.get), false) ::
                            Breadcrumb(sprint.title, routes.Sprints.show(team.id.get, sprint.id.get), false) ::
                                    Breadcrumb("Edit", routes.Sprints.edit(team.id.get, sprint.id.get), true) :: Nil) {

    @helper.form(action = routes.Sprints.update(team.id.get, sprint.id.get), 'id -> "sprint-form") {
        @_fieldSet(form, teams)
        <div class="actions">
            <input type="submit" class="btn primary" value="Update">
        </div>
    }

}

