@(sprint: Sprint, form:Form[Sprint], teams: Seq[Team])
@import models.utils.Breadcrumb

@main("Sprint %d: %s".format(sprint.num, sprint.title),
    Breadcrumb("Home", routes.Application.index, false) ::
    Breadcrumb("Sprints", routes.Sprints.index, false) ::
    Breadcrumb(sprint.title, routes.Sprints.show(sprint.id.get), false) ::
    Breadcrumb("Edit", routes.Sprints.edit(sprint.id.get), true) :: Nil) {

@helper.form(action = routes.Sprints.update(sprint.id.get), 'id -> "sprint-form") {
@_fieldSet(form, teams)
<div class="actions">
    <input type="submit" class="btn primary" value="Update">
</div>
}

}

