@(sprints: Seq[Sprint], form:Form[Sprint])

@main("Sprints") {

<ul id="sprint-list">
    @list(sprints)
</ul>

@helper.form(action = routes.Sprints.create, 'id -> "sprint-form") {
<fieldset>
    <legend>Sprint</legend>
    @helper.inputText(form("title"))
    @helper.inputText(form("num"))
    @helper.inputText(form("sprintStart"))
    @helper.inputText(form("sprintEnd"))
    @helper.repeat(form("counters"), min = 4) { counter =>
        @helper.inputText(counter("name"))
        @helper.inputText(counter("color"))
        @helper.select(counter("side"), models.json.SprintCounterSide.values.toSeq.map(side => side.id.toString -> side.toString))
    }
</fieldset>
<div class="actions">
    <input type="submit" class="btn primary" value="Create">
</div>
}

}

