@(sprint: Sprint, stories:Seq[Story], storyForm:Form[Story], dayCounts:Seq[DayCount], dayCountForm:Form[DayCount])
@import models.utils.Breadcrumb

@main("Sprint " + sprint.title,
    Breadcrumb("Home", routes.Application.index, false) ::
    Breadcrumb("Sprints", routes.Sprints.index, false) ::
    Breadcrumb(sprint.title, routes.Sprints.show(sprint.id.get), true) :: Nil) {
<h1>Sprint @sprint.num: @sprint.title</h1>
<a href="@routes.Sprints.edit(sprint.id.get)">Edit</a>

<ul id="counter-list">
    @sprint.counters.map { counter =>
    <li>@counter.name @counter.color @counter.side</li>
    }
</ul>

Number of days: @sprint.numberOfDays

<div id="dayCount-list">
    @dayCountList(sprint, dayCounts)
</div>

<ul id="story-list">
    @views.html.stories.list(stories)
</ul>

@helper.form(action = routes.Stories.create(sprint.id.get), 'id -> "story-form") {
<fieldset>
    <legend>Story</legend>
    @helper.inputText(storyForm("tag"))
    @helper.inputText(storyForm("description"))
    @helper.inputText(storyForm("points"))
</fieldset>
<div class="actions">
    <input type="submit" class="btn primary" value="Create">
</div>
}

}
