@(sprint: Sprint, stories:Seq[Story], storyForm:Form[Story], dayCounts:Seq[DayCount], dayCountForm:Form[DayCount])

@main("Sprint " + sprint.title) {
<h1>Sprint @sprint.num: @sprint.title</h1>
<a href="@routes.Sprints.edit(sprint.id)">Edit</a>

<ul id="counter-list">
    @sprint.counters.map { counter =>
    <li>@counter.name @counter.color @counter.side</li>
    }
</ul>

Number of days: @sprint.numberOfDays

<table>
    <thead>
    <tr>
        <th>Day</th>
        @sprint.counters.map { counter =>
        <th>@counter.name</th>
        }
    </tr>
    </thead>
    <tbody>
    @dayCounts.map { dayCount =>
    <tr class="dayCount-value" id="dayCount-value-@dayCount.id">
        <td>@dayCount.dayNum</td>
        @dayCount.counterValues.map { counterValue =>
        <td>@counterValue.value</td>
        }
        <td><a href="#" dayCountId="@dayCount.id" class="dayCount-update">Update</a></td>
    </tr>
    <tr class="dayCount-update" id="dayCount-update-@dayCount.id">
        @helper.form(action = routes.DayCounts.update(sprint.id, dayCount.id)) {
        <td><input type="text" name="@dayCountForm("dayNum").name" value="@dayCount.dayNum"></td>
        @dayCount.counterValues.zipWithIndex.map { case (counterValue, index) =>
        <td>
            <input type="text" name="counterValues[@index].value" value="@counterValue.value">
            <input type="hidden" name="counterValues[@index].name" value="@counterValue.name">
        </td>
        }
        <td><input type="submit" class="btn primary" value="Update"></td>
        }
    </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        @helper.form(action = routes.DayCounts.create(sprint.id), 'id -> "dayCount-form") {
        <td><input type="text" name="@dayCountForm("dayNum").name"></td>
        @helper.repeat(dayCountForm("counterValues")) { counterValue =>
        <td>
            <input type="text" name="@counterValue("value").name">
            <input type="hidden" name="@counterValue("name").name" value="@counterValue("name").value">
        </td>
        }
        <td><input type="submit" class="btn primary" value="Add"></td>
        }
    </tr>
    </tfoot>
</table>

<script type="text/javascript">
$("a.dayCount-update").click(function() {
    var dayCountId = $(this).attr("dayCountId")
    $("#dayCount-value-" + dayCountId).hide()
    $("#dayCount-update-" + dayCountId).show()
})
</script>

<ul id="story-list">
    @views.html.stories.list(stories)
</ul>

@helper.form(action = routes.Stories.create(sprint.id), 'id -> "story-form") {
<fieldset>
    <legend>Story</legend>
    @helper.inputText(storyForm("tag"))
    @helper.inputText(storyForm("description"))
    @helper.inputText(storyForm("points"))
</fieldset>
<div class="actions">
    <input type="submit" class="btn primary" value="Create">
</div>
}

}
