@(display:Display, displayItem:DisplayItem, alarms:Seq[(Alarm, Boolean)])
@import models.widgetConfigs.AlarmsConfig

<div class="wall-inner">
@defining(displayItem.widgetConfig[AlarmsConfig]) { config =>
<ul class="wall-alarms">
    @alarms.map { case (alarm, alert) =>
        <li class="wall-@if(alert) { alert }">
            <div style="font-family: @config.flatMap(_.labelFont).getOrElse("sans-serif"); font-size: @{config.flatMap(_.labelSize).getOrElse(20)}px;">
            @{ val format = org.joda.time.format.DateTimeFormat.forPattern("HH:mm")
                format.print(new org.joda.time.DateTime(alarm.nextDate))}
            </div>
            <div style="font-family: @config.flatMap(_.descriptionFont).getOrElse("sans-serif"); font-size: @{config.flatMap(_.descriptionSize).getOrElse(15)}px;">
            @alarm.name
            </div>
        </li>
    }
</ul>
}
</div>