@(display:Display, displayItem:DisplayItem, projectId:Long, statusMonitors:Seq[(StatusMonitor, StatusTypes.Type, Boolean)])
@import models.widgetConfigs.BuildStatusConfig

<div class="wall-inner">
@defining(displayItem.widgetConfig[BuildStatusConfig]) { config =>
    @views.utils.mkGrid(statusMonitors, styles = Seq("wall-buildStatus")) { case (statusMonitor, status, running) =>
        <div class="wall-bigText wall-@{status.toString} @{if(running) "wall-running" else "wall-notRunning"}"
             style="font-family: @config.flatMap(_.labelFont).getOrElse("sans-serif");">
            <span>@statusMonitor.name</span>
        </div>
    }
}
</div>