@(display:Display, displayItem:DisplayItem, projectId:Long, statusMonitors:Seq[(StatusMonitor, StatusTypes.Type, Boolean)])
@import models.widgetConfigs.BuildStatusConfig

@defining(displayItem.widgetConfig[BuildStatusConfig]) { config =>
<ul class="wall-buildStatus">
    @statusMonitors.map { case (statusMonitor, status, running) =>
    <li class="wall-@{status.toString} @{if(running) "wall-running" else "wall-notRunning"}">
        <div style="font-family: @config.flatMap(_.labelFont).getOrElse("sans-serif"); font-size: @{config.flatMap(_.labelSize).getOrElse(20)}px;">
        @statusMonitor.name
        </div>
    </li>
    }
</ul>
}