@(display:Display, displayItem:DisplayItem, projectId:Long, statusMonitors:Seq[(StatusMonitor, Option[StatusValue])])
@import models.widgetConfigs.HostStatusConfig

<div class="wall-inner">
@defining(displayItem.widgetConfig[HostStatusConfig]) { config =>
    @views.utils.mkGrid(statusMonitors, styles = Seq("wall-hostStatus")) { case (statusMonitor, statusValue) =>
        <div class="wall-hostStatus-name wall-bigText" style="font-family: @config.flatMap(_.titleFont).getOrElse("sans-serif");"><span>@statusMonitor.name</span></div>
        <div class="wall-hostStatus-groups">
        @statusValue.flatMap(_.hostsStatus).map { hostsStatus =>
            @views.utils.mkGrid(hostsStatus.groups, styles = Seq("wall-hostStatus-group")) { group =>
                @views.utils.mkGrid(group.hosts, columns = config.flatMap(_.columns).getOrElse(1), styles = Seq("wall-hostStatus-hosts")) { host =>
                    <div class="wall-bigText wall-hostStatus-host wall-@host.hostStatus-@host.serviceStatus" style="font-family: @config.flatMap(_.labelFont).getOrElse("sans-serif");">
                        <span>@views.utils.simplify(config.flatMap(_.hostNamePattern), host.name).toUpperCase</span>
                    </div>
                }
            }
        }
        </div>
    }
}
</div>