@(display: Display, displayItem: DisplayItem, projectId: Long, statusMonitors: Seq[(StatusMonitor, Option[StatusValue])], etag: String)
@import models.widgetConfigs.MetricsItemTypes
@import models.widgetConfigs.MetricsConfig

<div class="wall-inner">
@defining(displayItem.widgetConfig[MetricsConfig]) { config =>
    @views.utils.mkGrid(config.map(_.items).getOrElse(Seq.empty).zipWithIndex, columns = config.flatMap(_.columns).getOrElse(1), styles = Seq("wall-metrics")) { case (item, itemIdx) =>
        @if(item.asGauge.getOrElse(false)) {
            <div class="wall-bigImage" ref="@widgets.routes.Metrics.getGaugePng(displayItem.id.get, projectId, itemIdx, etag)"></div>
        } else {
            <div class="wall-title" style="font-family:  @config.flatMap(_.labelFont).getOrElse("sans-serif"); font-size:@{ config.flatMap(_.labelSize).getOrElse(20)} px;">
                @{
                    item.itemType match {
                        case MetricsItemTypes.Coverage => "Coverage"
                        case MetricsItemTypes.ViolationsCount => "Violations"
                        case MetricsItemTypes.ViolationsDetail =>
                            item.severities.map(_.toString).mkString(" + ")
                    }
                }
            </div>
            <div class="wall-value" style="font-family:  @item.valueFont.getOrElse("sans-serif"); font-size: @{item.valueSize.getOrElse(20)} px;">
                @{
                    item.itemType match {
                        case MetricsItemTypes.Coverage =>
                            statusMonitors.map {
                                case (statusMonitor, statusValues) =>
                                    statusValues.flatMap(_.metricStatus).map(_.coverage).getOrElse(0.0)
                            }.max.toString + "%"
                        case MetricsItemTypes.ViolationsCount =>
                            statusMonitors.map {
                                case (statusMonitor, statusValues) =>
                                    statusValues.flatMap(_.metricStatus).map(_.violationsCount).getOrElse(0)
                            }.sum.toString
                        case MetricsItemTypes.ViolationsDetail =>
                            statusMonitors.map {
                                case (statusMonitor, statusValues) =>
                                    val violations = statusValues.flatMap(_.metricStatus).map(_.violations).getOrElse(Seq.empty)
                                    violations.filter(s => item.severities.contains(s.severity)).map(_.count).sum
                            }.sum.toString
                    }
                }
            </div>
        }
    }
}
</div>