@(display:Display, displayItem:DisplayItem, subDisplays:Seq[(Display, Seq[models.utils.RenderedWidget])])

<div class="wall-subDisplays">
    @subDisplays.map { subDisplay =>
        <div id="wall-subDisplay-@subDisplay._1.id.get">
        @subDisplay._2.map { renderedWidget =>
            <div id="sub-@renderedWidget.id" etag="@renderedWidget.etag" class="wall-widget wall-outer" style="left: @{renderedWidget.posx}%;top: @{renderedWidget.posy}%;width: @{renderedWidget.width}%;height: @{renderedWidget.height}%;@{if(renderedWidget.hidden) "display:None;" else ""}">
                @renderedWidget.content
            </div>
        }
        </div>
    }
</div>
