@(display:Display, displayItem:DisplayItem, renderedWidgets:Seq[models.utils.RenderedWidget])

<div class="wall-subDisplay">
    @renderedWidgets.map { renderedWidget =>
        <div id="sub-@renderedWidget.id" etag="@renderedWidget.etag" class="wall-widget wall-outer" style="left: @{renderedWidget.posx}%;top: @{renderedWidget.posy}%;width: @{renderedWidget.width}%;height: @{renderedWidget.height}%;@{if(renderedWidget.hidden) "display:None;" else ""}">
            @renderedWidget.content
        </div>
    }
</div>
