@(alarms:Seq[Alarm], form:Form[Alarm])

@import models.utils.Breadcrumb

@main("Alarms",
    Breadcrumb("Home", routes.Application.index, false) ::
    Breadcrumb("Alarms", routes.Alarms.index, true) :: Nil,
    Seq("date.js", "jquery.weekcalendar.js"), Seq("week-calendar-default.css", "jquery.weekcalendar.css")) {
<table id="alarm-list">
    @list(alarms)
</table>


<div id="message" class="ui-corner-all"></div>

<div class="clearer"></div>

<div id="calendar"></div>

<div id="event-edit">
    Hubba
</div>

<script type="text/javascript">
    var year = new Date().getFullYear();
    var month = new Date().getMonth();
    var day = new Date().getDate();


    $(document).ready(function() {
        $("#event-edit").dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true
        });
        $('#calendar').weekCalendar({
            data: "@routes.Alarms.eventsJson",
            switchDisplay: {'Work week': 5, 'Full week': 7},
            daysToShow: 5,
            scrollToHourMillis : 0,
            use24Hour: true,
            timeslotsPerHour: 4,
            firstDayOfWeek: 1,
            hourLine: true,
            allowEventDelete: true,
            height: function($calendar){
                return $(window).height() - $("header").outerHeight(true) - $("footer").outerHeight(true);
            },
            eventRender: function(calEvent, $event) {
                if (calEvent.end.getTime() < new Date().getTime()) {
                    $event.css('backgroundColor', '#aaa');
                    $event.find('.time').css({
                        backgroundColor: '#999',
                        border:'1px solid #888'
                    });
                }
            },
            eventNew: function(calEvent, $event) {
                displayMessage('<strong>Added event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
                alert('You\'ve added a new event. You would capture this event, add the logic for creating a new event with your own fields, data and whatever backend persistence you require.');
            },
            eventDrop: function(calEvent, $event) {
                displayMessage('<strong>Moved Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
            },
            eventResize: function(calEvent, $event) {
                displayMessage('<strong>Resized Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
            },
            eventClick: function(calEvent, $event) {
                displayMessage('<strong>Clicked Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
            },
            eventMouseover: function(calEvent, $event) {
                displayMessage('<strong>Mouseover Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
            },
            eventMouseout: function(calEvent, $event) {
                displayMessage('<strong>Mouseout Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
            },
            noEvents: function() {
                displayMessage('There are no events for this week');
            },
            reachedmindate: function($calendar, date) {
                displayMessage('You reached mindate');
            },
            reachedmaxdate: function($calendar, date) {
                displayMessage('You cannot go further');
            }
        });

        function displayMessage(message) {
            $('#message').html(message).fadeIn();
        }

        $('<div id="message" class="ui-corner-all"></div>').prependTo($('body'));
    });
</script>
}
