@import 'libs/_utils.less';

body {
    margin: 3px;
    overflow: hidden;
}

div.widget {
    .rounded-corners(10px);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background: #a9a9a9;
    text-align: center;
    .gradient(#FFF, #AAA);
}

dl.alarms {
    margin: 0;
    padding: 0;
    dt {
        margin: 0;
        padding: 0;
    }
    dd {
        margin: 0;
        padding: 0;
    }
}