@import 'libs/_utils.less';

body {
    margin: 3px;
    overflow: hidden;
}

div.widget {
    .rounded-corners(10px);
    padding: 4px 4px 4px 4px;
    margin: 0px 0px 0px 0px;
    background: #a9a9a9;
    text-align: center;
    .gradient(#FFF, #AAA);
}

ul.alarms {
    margin: 0;
    padding: 2px;
    li {
        list-style: none;
        .rounded-corners(5px);
        margin: 2px;
        padding: 2px;
        background: #ffffff;
    }
    li.alert {
        background: #ff4444;
    }
}