@import 'libs/_utils.less';

body {
    margin: 3px;
    overflow: hidden;
}

div.widget {
    .rounded-corners(10px);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background: #a9a9a9;
    text-align: center;
}