@import 'libs/_utils.less';
@import "libs/_theme.less";
@import "libs/_icons.less";
@import "libs/_deleteWidget.less";

form {
    dl {
        margin: 2px 2px 2px 2px;
        display: inline-block;

        dt {
            display: inline-block;
        }
        dd {
            display: inline-block;
            margin: 0px 2px 0px 2px;
        }
        dd.info {
            display: none;
        }
    }
}

tr.dayCount-update {
    display: none;
}